@charset "UTF-8";
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*********************************************************************************************************/
/*********************************************************************************************************/
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  height: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  font-family: "微软雅黑", "Microsoft YaHei", "Segoe UI", "Lucida Grande", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: #333;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%; }

body {
  /*background: radial-gradient(200% 100% at bottom center, #f7f7b6, #89e96f, #2db1a6, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #7eb6ae 40%, #38c957 65%, #f7f7b6);*/
  background: #22C1C3;
  background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-attachment: fixed;
  overflow: hidden; }

a {
  text-decoration: none;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0; }

.bg-green4 {
  background-color: #18b37e;
  border-color: #1bc98e;
  color: #f5f5f5; }

.bg-green4:hover {
  background-color: #1bc98e;
  border-color: #18b37e;
  color: #f5f5f5; }

.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 1.4;
  font-size: 1.0rem;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding: 6px 15px;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px 8px;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 100ms ease-out, border-color 100ms ease-out;
  transition: background-color 100ms ease-out, border-color 100ms ease-out; }

.btn-lg {
  padding: 8px 12px; }

.btn-sm {
  padding: 8px 12px; }

.btn-sm-pill {
  padding: 2px 8px;
  border-radius: 15px 15px; }

/*********************************************************************************************************/
#login {
  display: flex;
  height: 100vh;
  justify-content: space-between; }

#login #content {
  padding: 0; }

.login {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background: transparent; }

.login-left, .login-right {
  display: inline-flex;
  width: 48%;
  justify-self: center;
  align-self: center;
  align-content: center;
  justify-content: center; }

.login-left img {
  width: 450px;
  height: 164px; }

.login-form {
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  padding: 40px 25px 15px 25px;
  text-align: center;
  border-radius: 8px 8px;
  color: #ebeced; }

.login-form input {
  display: inline-block;
  padding: 6px 10px;
  font-size: 1.0rem;
  float: right;
  width: 240px;
  border: none;
  color: #424242; }

.login-msg {
  margin-top: 8px;
  height: 28px;
  color: #ef135b; }

/*********************************************************************************************************/
@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); } }
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear; }

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden; }

/*# sourceMappingURL=login.css.map */