@charset "UTF-8";


html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  //overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "微软雅黑", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: #000;
  font-size: .8rem;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  /*text-shadow: 0 0 1px #52605c;*/
}


a {
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

////////////////////////////////////////////////////////////////////////////////////////////////////


$white1: #fff;
$white2: #fafafa;
$grey1: #f5f5f5;
$grey2: #ebebeb;
$dark1: #546e7a;
$dark2: #050707;
$black1: #111;
$black2: #252525;
$blue1: #4390df;
$blue2: #4280df;
$yellow1: #ffeb3b;
$yellow2: #f8de00;
$green1: #409f44;
$green2: #67bd6a;
$green3: #1bc98e;
$green4: #179d71;
$teal1: #009688;
$teal2: #00bfad;
$cyan1: #00bcd4;
$cyan2: #00e0fd;
$purple1: #941b76;
$purple2: #941b76;
$pink1: #e91e63;
$pink2: #ed437d;
$red1: #f44336;
$red2: #f6675d;
$red3: #d9534f;
$red4: #d43f3a;

$lc1: #fff;
$lc2: #f5f5f5;
$lc3: #ebeced;
$lc4: #ebeced;
$lc5: #e1e1e1;
$lc6: #d9d9d9;
$lc7: #e7e7e7;
$lc8: #bdbdbd;
$bc1: #757575;
$bc2: #424242;
$bc3: #546e7a;
$bc4: #455a64;
$bc5: #333;
$bc6: #252525;
$bc7: #111;


$border_color:#dee2e6;

$colors: (
        (color1: $grey1, color2: $grey2, name1: grey1, name2: grey2, font:$bc4),
        (color1: $dark1, color2: $dark2, name1: dark1, name2: dark2, font:$lc2),
        (color1: $black1, color2: $black2, name1: black1, name2: black2, font:$lc2),
        (color1: $blue1, color2: $blue2, name1: blue1, name2: blue2, font:$lc2),
        (color1: $green1, color2: $green2, name1: green1, name2: green2, font:$lc2),
        (color1: $teal1, color2: $teal2, name1: teal1, name2: teal2, font:$lc2),
        (color1: $cyan1, color2: $cyan2, name1: cyan1, name2: cyan2, font:$lc2),
        (color1: $purple1, color2: $purple2, name1: purple1, name2: purple2, font:$lc2),
        (color1: $pink1, color2: $pink2, name1: pink1, name2: pink2, font:$lc2),
        (color1: $red1, color2: $red2, name1: red1, name2: red2, font:$lc2),
        (color1: $red3, color2: $red4, name1: red3, name2: red4, font:$lc2),
);


@for $i from 1 through length($colors) {
  $item: nth($colors, $i);
  $name1: map_get($item, name1);
  $name2: map_get($item, name2);
  $color1: map_get($item, color1);
  $color2: map_get($item, color2);
  $font_color: map_get($item, font);

  .bg-#{$name1} {
    background-color: $color1;
    border-color: $color2;
    color: $font_color;

    &:hover {
      background-color: $color2;
      border-color: $color1;
      color: $font_color;
    }
  }

  .bg-#{$name2} {
    background-color: $color2;
    border-color: $color1;
    color: $font_color;

    &:hover {
      background-color: $color1;
      border-color: $color2;
      color: $font_color;
    }
  }

  .#{$name1} {
    color: $color1;
  }

  .#{$name2} {
    color: $color2;
  }
}


$animated_time: '300ms';


@mixin button() {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  user-select: none;
  transition: all #{$animated_time} ease-out, all #{$animated_time} ease-out;
}

.btn {
  @include button();
  line-height: 1.4;
  font-size: .9rem;
  letter-spacing: .9px;
  padding: 6px 12px;
}

.btn-large {
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: .9px;
  padding: 10px 15px;
}

.btn-small {
  line-height: 1.1;
  font-size: .7rem;
  letter-spacing: .8px;
  padding: 2px 6px;
}

.btn-pill {
  border-radius: 50% 50%;
}


////////////////////////////////////////////////////////////////////////////////////////////////////
input, select, textarea {
  display: inline-block;
  padding: 6px 10px;
  float: right;
  color: #424242;
  border: 1px solid rgba(0, 0, 0, .05);
}

a {
  color: #000;
}

a, .link, .active {
  cursor: pointer;
}

.link:hover, a:hover, .active, .active span a {
  color: $green1;
}

.active:hover, .active span a:hover {
  color: $green4;
}

input.list-checkbox, input.list-radio {
  min-width: 30px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

#main-content {
  display: flex;
  min-height: calc(100% - 128px);
  padding: 0;
}

.index, .category, .not_found, .site, .product, .customer, .orders, .setting, .shipping, .payment, .country, .banned, .menu, .refresh {

}

.content {
  display: flex;
  width: 100%;

}

.index-content, .category-content, .not_found-content, .site-content, .product-content, .customer-content, .orders-content, .setting-content, .shipping-content, .payment-content, .country-content, .banned-content, .menu-content, .refresh-content {
  display:flex;
  width: 100%;
  padding:15px 15px;
  flex-direction: column;

}

.content-header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid $border_color;
}

.content-header-title{
  font-size: 1rem;
  font-weight: bold;
  color:#000;
  justify-content: space-between;
  align-content: center;
}

ul.content-header-btn{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.content-body{
  padding-top: 30px;
}




#logo a img, #logo img {
  height: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid $border_color;
  padding: 2px 5px;
  margin-bottom: 1px;
  height: 60px;
}

#logo, #header-end {
  display: flex;
}

#logo {
  width: 30%;
}

#header-end {
  justify-content: flex-end;
  flex-direction: row;
}

#header-account, #header-account span label, #header-account span a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-account span {
  margin-right: 8px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////

#menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, .11);
  background: rgba(0, 0, 0, 0.08);
  padding: 0;
  text-shadow: 0 0 1px #d7d7d7;
}

.menu-top, .menu-sub {
  display: inline-flex;
}

.menu-top {
  justify-content: space-between;
  align-items: center;
  background: rgba(28, 28, 28, 0.15);
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, .15);*/
  padding: 10px 0 10px 15px;
  margin-top: 1px;
}

.menu-sub {
  flex-direction: column;
  padding: 6px 15px;
}

.menu-sub div {
  width: 100%;
  padding: 4px 10px;
}

.menu-sub div a {
  display: inline-flex;
  width: 100%;
}

.menu-sub-item {
  margin-left: 5px;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////


/*
.tree {
  padding: 30px 15px;
  border-right: 1px solid $border_color;
  background: $lc3;
  min-width: 240px;
  font-size: .8rem;
  overflow-y: auto;
}

.tree-item, .tree-item-top,.tree-item-sub,.tree-item-thi{
  display: flex;
  justify-content: space-between;
  padding:5px 0;
  border-bottom: 1px solid rgba(222, 226, 230, 0.64);
}
.tree-item {
  padding: 5px 4px;
}

.tree-root-title {
  font-weight: 600;
  color: #000000;
}

.tree-top-title {
  margin-left: 0;
}

.tree-sub-title {
  margin-left: 15px;
}

.tree-thi-title {
  margin-left: 30px;
}

///*
//.list-tree-top {
//  padding: 4px 0 4px 10px;
//}
//
//.list-tree-sub {
//  padding: 0 20px;
//}
//
//.list-tree-thi {
//  padding: 0 30px;
//}
//
//.list-tree-top, .list-tree-sub {
//  display: flex;
//  justify-content: space-between;
//}
//
//.list-item-checkbox {
//  display: flex;
//  justify-content: flex-start;
//  align-items: center;
//}
//


.form-content-category{
  width: 80% !important;
}
.form-content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 15px 15px;
  border: 1px solid rgba(222, 226, 230, 0.64);
}

.form-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.form-item-label{
  width: 35%;
  flex-direction: column;
  display: inline-flex;
}

.form-label-info{
  font-size: .7rem !important;
  color: $bc3 !important;
}

.form-v-text, .form-v-password, .form-v-checkbox, .form-v-hidden, .form-v-select, .form-v-textarea{
  min-width: 450px;
}

.form-item-submit{
  margin-top: 30px;
  justify-content: center;
}

*/

////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

#footer {
  min-height: 60px;
  background: black;
}



////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////


@keyframes border-shine-red {
  from {
    border: 1px solid rgba(161, 20, 68, 0.2); }
  70% {
    border: 1px solid #a11444; }
  to {
    border: 1px solid rgba(161, 20, 68, 0.2); } }
.border-shine-red {
  animation: shine-red 1s linear infinite; }

.border-red {
  border: 1px solid #a11444; }

.loader {
  margin: auto;
  display: inline-flex;
  flex-direction: column; }

.loader-icon {
  width: 50px;
  height: 50px;
  margin: auto; }

.loader-text {
  color: #ebeced;
  font-size: 1rem;
  text-align: center; }


/*
#box-popup-v{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  margin-bottom:0 !important;
  align-content: space-between;

}

#box-popup-content{
  display: flex;
  background: #fff;
  flex-direction: column;

  min-width: 320px;
  min-height: 180px;
  max-width: 450px;
  margin: auto;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, .45) 0 0 10px;
  max-height: 99vh;
  z-index: 199;
  padding: 15px 20px;
  border-radius: 5px 5px;
}
#box-popup-header{
  width: 100%;
}
#box-popup-title{
  width: 100%;
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-bottom:1px solid rgba(0, 0, 0, .15);
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

#box-popup-text{
  display: flex;
  color:$bc6;
  padding:20px 0;
  min-height: 100px;
  align-content: space-between;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#box-popup-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-popup-btn a{
  margin: 0 10px;
}
*/
